#bladderimage {
  height: 100px;
}

#pancreasimage {
  height: 100px;

}

#lungimage {
  height: 100px;

}

#liverimage {
  height: 100px;

}

#intestineimage {
  height: 100px;

}

#brainimage {
  height: 100px;
}

p {
  font-size: medium;
}
