#bladderimage {
width: 10px;
}

#pancreasimage {
height: 10px;
width: 10px;
}

#lungimage {
width: 10px:
}

#liverimage {
width: 10px;
}

#intestineimage {
width: 10px;
}

#brainimage {
width: 100px;
}
