// Specific CSS for your home-page
p {
  font-size: small;
  height: 10px;
  text-align: justify;
}

h2 {
  font-size: x-large;
  height: 30px;
}

.container {
background-color: white;
text-align: justify;
width: 900px;
padding: 50px;
}
