<div class="container">
   <h2>Here to help you get <strong>organ</strong>-ized!</h2>
        <p>Planning a big night out?... rent a liver!</p>
        <p>Got your heart broken?...rent a heart!</p>
        <p>Got a test and can't be bothered to study?...rent a brain!</p>
</div>
<%= render 'layouts/footer' %>