.redbutton {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #38a3a5;
  transition: background 0.3s ease;
  padding: 10px;
  margin: 20px;
}

.redbutton:hover {
  background: #57cc99;
  color: white;
}
.bookbutton {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #f08080;
  transition: background 0.3s ease;
  text-align: right;
  margin: 20px;
}

.bookbutton:hover {
  background: #ffccd5;
  color: white;
}

.deletebutton {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #e41b1b;
  transition: background 0.3s ease;
  text-align: center;
  margin: 0px 10px 10px 10px;
  text-decoration: none;
  a {
    text-decoration: none;
    color: white;
  }
  .trashcan {
    color: white;
  }
}

.deletebutton:hover {
  background: #a80505;
  color: white;
}


.reviewbutton {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #38a3a5;
  transition: background 0.3s ease;
  text-align: center;
  margin: 0px 10px 10px 10px;
  text-decoration: none;
  a {
    text-decoration: none;
    color: white;
  }
  .trashcan {
    color: white;
  }
}
