.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  flex-direction: column;
  position: relative;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  p {
    color: #EB5759;
    position: absolute;
    text-shadow:rgb(179, 175, 175);
    font-size: 29px;
    right: 1rem;
    bottom: 1.5rem;
  }
}

.card-category-home {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-body {
  margin: auto;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 03px 10px 10px 10px;;
  p {
    text-align: center;
    font-weight: 500;
    font-size: 1.1em;
  }
}

.organs-link {
  a {
    text-decoration: none;
    color: black !important;
  }
}

.card-whole {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  height: 310px;
  width: 300px;
  border-radius: 5px;
  transition: 0.4s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-whole:hover {
  transform: translateY(-5%);
}

.div-border {
  width: 90%;
  border-bottom: solid rgb(206, 205, 205) 1px;
}

h6 {
  color: black;
  position: absolute;
  text-shadow:rgb(179, 175, 175);
  font-size: 20px;
  right: 1rem;
  bottom: 0.5rem;
}

.card-bottom {
  display: flex;
  flex-direction: column;
}
.tag {
  background-color: #e6899d;
  border: transparent;
}
