<h2>We have <%= @organs.length %> organs available for you.</h2>
<div class="d-flex flex-wrap">
  <% @organs.each do |organ| %>
  <div class="m-3" style="width: 300px">
    <%= link_to organ_path(organ) do %>
    <div class= "card-whole">
      <div class="card-category">
      <% if organ.photo.attached? %>
        <%= cl_image_tag organ.photo.key, crop: :fill %>
      <% end %>
      <div class= "div-border mt-4"></div>
      </div>
      <div class="card-body">
        <p><%= organ.name %></p>
      </div>
    </div>
    <% end %>
  </div>
  <% end %>
</div>
