<h2>We have <%= @organs.length %> organs available for you.</h2>
<div class="d-flex">
  <% @organs.each do |organ| %>
  <div class="m-3">
    <%= link_to organ_path(organ) do %>
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <%= organ.name %>
        </div>
      </div>
    <% end %>
  </div>
  <% end %>
</div>