
<div class="container">
  <h2>We have <%= @organs.length %> organs available for you.</h2>
  <div class="d-flex">
    <% @organs.each do |organ| %>
      <div class="card" style="width: 18rem;">
        <%= cl_image_tag organ.photo.key, height: 300, width: 400, crop: :fill %>
        <div class="card-body">
          <%= organ.name %>
        </div>
      </div>
    <% end %>
  </div>
</div>
