<h2>We have <%= @organs.length %> organs available for you.</h2>
<div class="d-flex">
  <% @organs.each do |organ| %>
    <div class="card m-3" style="width: 18rem;">
      <img src="https://source.unsplash.com/random" alt="random-picture">
      <div class="card-body">
        <%= organ.name %>
      </div>
    </div>
  <% end %>
</div>