<h2>We have <%= @organs.length %> organs available for you.</h2>
<div class="d-flex flex-wrap">
  <% @organs.each do |organ| %>
  <div class="m-3" style="width: 300px">
    <%= link_to organ_path(organ) do %>
    <div>
      <div class="card-category" style="width: 18rem;">
      <% if organ.photo.attached? %>
        <%= cl_image_tag organ.photo.key, height: 160, width: 285, crop: :fill %>
      <% end %>
      </div>
      <div class="card-body">
        <%= organ.name %>
      </div>
    </div>
    <% end %>
  </div>
  <% end %>
</div>
